{% extends 'resblog/basic.html' %}
{% block reshome %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'resblog/style.css' %}">
{% endblock reshome %}

{% block content %}
	<section>
		<video src="{% static 'resblog/smoke.mp4' %}" autoplay muted> </video>
		<h1>
			<span>R</span>
			<span>E</span>
			<span>S</span>
			<span>H</span>
			<span>A</span>
			<span>B</span>
			<span> </span>
			<span> </span>
			<span>S</span>
			<span>A</span>
			<span>H</span>
		</h1>
	</section>
{% endblock content %}
